<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maria Gomez Perez Found</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Maria Gomez Perez Found!!!" class="logo">
            <span class="navbar-brand-text">Maria Gomez Perez</span>
        </a>
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav ms-auto">-->
<!--                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/about">About Maria</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/news">News</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</header>
<main class="container-fluid">
    <div class="hero">
        <img src="/images/maria.jpg" alt="Maria Gomez-Perez" class="hero-image">
        <div class="hero-text">
            <h2>Maria Gomez Perez Found!</h2>
            <p>We are overjoyed to announce that Maria Gomez Perez has been found safe and sound. Thank you to everyone who helped in the search efforts! Let's celebrate her return and the incredible support from the community!</p>
            <a class="btn btn-success btn-lg" href="https://www.fox5atlanta.com/news/maria-gomez-perez-found-safe-search-missing-12-year-old-ends-after-57-days" role="button">Read More</a>
        </div>
    </div>
    <section class="celebration mt-5">
        <div class="container">
            <h3>Celebrating Maria's Return</h3>
            <p>Maria Gomez Perez, a 12-year-old girl who went missing on May 29th, has been found safe. We thank everyone for their tireless efforts and support. Let's come together to celebrate her safe return.</p>
            <p>If the family requests help for Maria, we will post the links to do that here.</p>
        </div>
    </section>
    <section class="community-support mt-5">
        <div class="container">
            <h3>Community Support</h3>
            <p>The community's support has been overwhelming. People shared Maria's story, participated in search efforts, and provided emotional support to her family. We couldn't have done it without you.</p>
        </div>
    </section>
    <section class="latest-updates mt-5">
        <div class="container">
            <h3>Latest Updates</h3>
            <ul>
                <li><a href="https://www.gainesvilletimes.com/news/badge-bar/maria-gomez-perez-found-safe-in-another-state-authorities-working-to-bring-her-home/" target="_blank">Latest News From Gainesville Times</a></li>
                <li><a href="https://www.11alive.com/article/news/local/missing-in-georgia/missing-hall-county-girl-found-safe-after-nearly-2-months/85-75825105-6f80-4e26-88b0-e5196f7bc574" target="_blank">Latest News From 11Alive</a></li>
            </ul>
        </div>
    </section>
    <section class="contact-info mt-5 mb-5">
        <div class="container">
            <h3>Contact Information</h3>
            <p>If you have any questions or need further information, please contact:</p>
            <ul>
                <li>Hall County Sheriff's Office: 770-531-6900</li>
                <li>Email: <a href="mailto:sheriff@hallcounty.org">publicinformation@hallcounty.org</a></li>
            </ul>
        </div>
    </section>
</main>
<footer class="footer-content bg-primary text-white mt-5 p-4">
    <div class="container text-center">
        <p>&copy; 2024 Maria Gomez Perez Found. All rights reserved.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
