<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Involved - Help Find Maria</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .social-button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="Help Find Maria" class="logo">
            <span class="navbar-brand-text">Help Find Maria</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Maria</a></li>
                <li class="nav-item"><a class="nav-link" href="/email-templates">Email Templates</a></li>
                <li class="nav-item"><a class="nav-link" href="/submit-tip">Submit a Tip</a></li>
                <li class="nav-item"><a class="nav-link" href="/get-involved">Get Involved</a></li>
                <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</header>
<main class="container mt-5">
    <section class="get-involved">
        <h2>Get Involved</h2>
        <p>There are many ways you can help in the search for Maria. Your involvement can make a significant difference in bringing her home safely. Here are some ways you can get involved:</p>

        <div class="involvement-section mb-4 p-4 bg-light rounded border">
            <h3>Volunteer for Search Parties</h3>
            <p>Join local search parties to help find Maria. You can sign up to volunteer and participate in organized search efforts.</p>
            <button class="btn btn-primary" onclick="location.href='/search-party-signup'">Sign Up to Volunteer</button>
        </div>

        <div class="involvement-section mb-4 p-4 bg-light rounded border">
            <h3>Join the "Help Find Maria" Facebook Group</h3>
            <p>Stay updated and contribute to the search efforts by joining the "Help Find Maria" Facebook group. This Facebook group is essential for sharing updates and coordinating efforts
                (this page relies heavily on the updates posted on that group). Any contributions to the Facebook page will greatly benefit the search.</p>
            <a href="https://www.facebook.com/groups/1742437953166169/about" class="btn btn-primary" target="_blank">Join the Facebook Group</a>
        </div>


        <div class="involvement-section mb-4 p-4 bg-light rounded border">
            <h3>Get Free Yard Signs!</h3>
            <p>We're offering free yard signs for people to place on their property or a busy location to help spread the word. </p>
            <p>However, sometimes we can run out. If you'd like to call ahead if we have any available,
                call us at <a href="tel:7702979550">770-297-9550</a>. If we have some, the free yard signs are available at:</p>
            <p>
                912 Atlanta Hwy. Gainesville, GA 30501<br>
                <a href="#" class="maps-link" data-address="912 Atlanta Hwy. Gainesville, GA 30501" data-type="apple">Apple Maps</a> |
                <a href="#" class="maps-link" data-address="912 Atlanta Hwy. Gainesville, GA 30501" data-type="google">Google Maps</a>
            </p>
        </div>

        <div class="involvement-section mb-4 p-4 bg-light rounded border">
            <h3>Spread Awareness on Social Media</h3>
            <p>Share information about Maria's disappearance on your social media platforms. Use the hashtag #HelpFindMaria to help spread the word.</p>
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://helpfindmaria.com/">
                <a class="a2a_button_copy_link"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_whatsapp"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_threads"></a>
                <a class="a2a_button_reddit"></a>
                <a class="a2a_button_sms"></a>
                <a class="a2a_button_google_gmail"></a>
                <a class="a2a_button_outlook_com"></a>
                <a class="a2a_button_facebook_messenger"></a>
                <a class="a2a_button_x"></a>
            </div>
            <script>
                var a2a_config = a2a_config || {};
                a2a_config.num_services = 12;
            </script>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
        </div>

        <div class="involvement-section mb-4 p-4 bg-light rounded border">
            <h3>Donate to Support Search Efforts</h3>
            <p>We are currently only accepting donations from businesses that are able to contribute to the cause. If your business wants to contribute, please call:</p>
            <p><a href="tel:7702979550">770-297-9550</a></p>
        </div>

        <div class="involvement-section mb-4 p-4 bg-light rounded border">
            <h3>Contact Local Authorities</h3>
            <p>If you have any information about Maria's whereabouts, please contact the Hall County Sheriff's Office or send an anonymous tip through our website.</p>
            <p>Email: <a href="mailto:sheriff@hallcounty.org">sheriff@hallcounty.org</a></p>
            <p>Phone number: <a href="tel:7705033232">770-503-3232</a> or <a href="tel:7705368812">770-536-8812</a></p>
            <button class="btn btn-primary" onclick="location.href='/submit-tip'">Submit a Tip</button>
        </div>

    </section>
</main>
<footer class="footer-content bg-primary text-white mt-5 p-4">
    <div class="container text-center">
        <p>&copy; 2024 Help Find Maria. All rights reserved.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    document.querySelectorAll('.maps-link').forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            var address = this.getAttribute('data-address');
            var type = this.getAttribute('data-type');
            var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            var appleMapsURL = "https://maps.apple.com/?daddr=" + encodeURIComponent(address);
            var googleMapsURL = "https://www.google.com/maps/dir/?api=1&destination=" + encodeURIComponent(address);

            if (type === 'apple') {
                if (isMobile) {
                    window.location.href = "maps://maps.apple.com/?daddr=" + encodeURIComponent(address);
                } else {
                    window.open(appleMapsURL, '_blank');
                }
            } else if (type === 'google') {
                if (isMobile) {
                    window.location.href = "geo:0,0?q=" + encodeURIComponent(address);
                } else {
                    window.open(googleMapsURL, '_blank');
                }
            }
        });
    });
</script>
</body>
</html>
